@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ipa {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #285599;
}